<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>bulgogi</string>
		<key>imageName</key>
		<string>bulgogi1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/kimtaro/3393997571/in/photolist-6aV8ev-5pSaMY-a3czmy-a3cz17-ohQ2Pk-a39Hrr-61k7W2-vwRLY-69oBCq-awMzbB-8AqNsg-dnXnYw-a39HgK-9M5X99-8DwyNp-ohPaxb-7tTgru-ohPyx7-6sbjHi-gNNnkR-8Xif7S-taN63-4JcKb8-7LZfjx-emHFn-2mXnKh-8ifSD-6Nhciv-9hJtT1-ahZMAZ-dLo9pW-SPojC9-4tYtd5-5QUVp2-ashwAt-pmNPNf-9kbWjN-5ACjdF-6b7btC-7Tu8gU-d4mTgb-7XdvyD-9rQJZh-er7BRz-242FMwG-gNMqhf-WMTtT6-7TqS1B-7Tu8kQ-dg677i</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/kimtaro/</string>
		<key>flickrAuthor</key>
		<string>Kim Ahlström</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>bulgogi</string>
		<key>imageName</key>
		<string>bulgogi2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/stuart_spivack/6849417803/in/photolist-brg4hp-TBZnKN-4kj6rQ-9gq3PN-9M5XfY-dCe9BK-6aV8ev-5pSaMY-a3czmy-a3cz17-ohQ2Pk-a39Hrr-61k7W2-vwRLY-69oBCq-awMzbB-8AqNsg-dnXnYw-a39HgK-9M5X99-8DwyNp-ohPaxb-7tTgru-ohPyx7-6sbjHi-gNNnkR-8Xif7S-taN63-4JcKb8-7LZfjx-emHFn-2mXnKh-8ifSD-6Nhciv-9hJtT1-ahZMAZ-dLo9pW-SPojC9-4tYtd5-5QUVp2-ashwAt-pmNPNf-9kbWjN-5ACjdF-6b7btC-7Tu8gU-d4mTgb-7XdvyD-9rQJZh-er7BRz</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/stuart_spivack/</string>
		<key>flickrAuthor</key>
		<string>stu_spivack</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>bulgogi</string>
		<key>imageName</key>
		<string>bulgogi3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/puck777/14630284317/in/photolist-ohQ2Pk-a39Hrr-61k7W2-vwRLY-69oBCq-7tTgru-6sbjHi-brg4hp-8AqNsg-dnXnYw-a3czaY-4kj6rQ-a39HgK-a3czmy-9M5X99-8DwyNp-ohPaxb-awMzbB-4JcKb8-ahZMAZ-gNNnkR-7LZfjx-6MpsdJ-emHFn-2mXnKh-6Nhciv-9hJtT1-dLo9pW-4tYtd5-8Xif7S-taN63-ashwAt-4xBa8J-pmNPNf-9kbWjN-6b7btC-7Tu8gU-7XdvyD-d4mTgb-9rQJZh-er7BRz-7TqS1B-7Tu8kQ-e9gyz7-gNMqhf-WMTtT6-UZDKQX-nyQ3zB-VCXyCA-5s2eXv</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/puck777/</string>
		<key>flickrAuthor</key>
		<string>John Ong</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>bulgogi</string>
		<key>imageName</key>
		<string>bulgogi4</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/kalleboo/3376728124/in/photolist-69oBCq-7tTgru-6sbjHi-brg4hp-8AqNsg-dnXnYw-a3czaY-4kj6rQ-a39HgK-a3czmy-9M5X99-8DwyNp-ohPaxb-awMzbB-4JcKb8-ahZMAZ-gNNnkR-7LZfjx-6MpsdJ-emHFn-2mXnKh-6Nhciv-9hJtT1-dLo9pW-4tYtd5-8Xif7S-taN63-ashwAt-4xBa8J-pmNPNf-9kbWjN-6b7btC-7Tu8gU-7XdvyD-d4mTgb-9rQJZh-er7BRz-7TqS1B-7Tu8kQ-e9gyz7-gNMqhf-WMTtT6-UZDKQX-nyQ3zB-VCXyCA-5s2eXv-5s6zCy-a6Kuqi-9aNCEZ-7Tu8d1</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/kalleboo/</string>
		<key>flickrAuthor</key>
		<string>Karl Baron</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>bulgogi</string>
		<key>imageName</key>
		<string>bulgogi5</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/spablab/334199188/in/photolist-vwRLY-69oBCq-7tTgru-6sbjHi-brg4hp-8AqNsg-dnXnYw-a3czaY-4kj6rQ-a39HgK-a3czmy-9M5X99-8DwyNp-ohPaxb-awMzbB-4JcKb8-ahZMAZ-gNNnkR-7LZfjx-6MpsdJ-emHFn-2mXnKh-6Nhciv-9hJtT1-dLo9pW-4tYtd5-8Xif7S-taN63-ashwAt-4xBa8J-pmNPNf-9kbWjN-6b7btC-7Tu8gU-7XdvyD-d4mTgb-9rQJZh-er7BRz-7TqS1B-7Tu8kQ-e9gyz7-gNMqhf-WMTtT6-UZDKQX-nyQ3zB-VCXyCA-5s2eXv-5s6zCy-a6Kuqi-9aNCEZ</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/spablab/</string>
		<key>flickrAuthor</key>
		<string>spablab</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>bulgogi</string>
		<key>imageName</key>
		<string>bulgogi6</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/vastlk/5932101726/in/photolist-a3czaY-4kj6rQ-a39HgK-a3czmy-9M5X99-8DwyNp-ohPaxb-awMzbB-4JcKb8-ahZMAZ-gNNnkR-7LZfjx-6MpsdJ-emHFn-2mXnKh-6Nhciv-9hJtT1-dLo9pW-4tYtd5-8Xif7S-taN63-ashwAt-4xBa8J-pmNPNf-9kbWjN-6b7btC-7Tu8gU-7XdvyD-d4mTgb-9rQJZh-er7BRz-7TqS1B-7Tu8kQ-e9gyz7-gNMqhf-WMTtT6-UZDKQX-nyQ3zB-VCXyCA-5s2eXv-5s6zCy-a6Kuqi-9aNCEZ-7Tu8d1-6NmnWd-e4eNGg-5QUVn2-YAveq3-YAvdPJ-EiwcZG</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/vastlk/</string>
		<key>flickrAuthor</key>
		<string>Christian Ramiro González Veron</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>bulgogi</string>
		<key>imageName</key>
		<string>bulgogi7</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/dtietphotog/6099549641/in/photolist-ahZMAZ-gNNnkR-7LZfjx-6MpsdJ-emHFn-2mXnKh-6Nhciv-9hJtT1-dLo9pW-4tYtd5-8Xif7S-taN63-ashwAt-4xBa8J-pmNPNf-9kbWjN-6b7btC-7Tu8gU-7XdvyD-d4mTgb-9rQJZh-er7BRz-7TqS1B-7Tu8kQ-e9gyz7-gNMqhf-WMTtT6-UZDKQX-nyQ3zB-VCXyCA-5s2eXv-5s6zCy-a6Kuqi-9aNCEZ-7Tu8d1-6NmnWd-e4eNGg-5QUVn2-YAveq3-YAvdPJ-EiwcZG-7TqRS6-7Tu8Ts-7TqSL8-evhGf-7TqSUD-Tubzit-7TqSwB-7Tu8vy-7TqSnv</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/dtietphotog/</string>
		<key>flickrAuthor</key>
		<string>dtiet</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>kimchi stew</string>
		<key>imageName</key>
		<string>kimchi_stew1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/alanchan/2508066891/in/photolist-4PCuUB-orxfZc-bRza2r-gukm1w-93D5o-i96zQp-XZriWy-azzoHP-cbhQd-8o782p-KVTYEv-9nJ66Q-4Jq5C5-6d3v9o-5GF3KV-bnXnxC-rYZ4E-647Y87-atwPcF-afbhtg-atwPST-atwN3D-cbhSH-934Acy-4PPHiR-atztwo-6m72YC-pNPti8-6m2MTH-sNb6n-7hAFy-D4wY5i-6JGi4H-6m71uw-afe5i7-7WUFFz-atwNTR-4CrMzF-2EdyiW-atwNnH-onTgPS-e53tdv-6m2mFv-6m6tX3-ejNKo5-9LmR7K-99kHjG-sNaXu-ejH2W4-5ND3CJ</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/alanchan/</string>
		<key>flickrAuthor</key>
		<string>Alan C.</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>kimchi stew</string>
		<key>imageName</key>
		<string>kimchi_stew2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/alper/14728860181/in/photolist-orxfZc-bRza2r-gukm1w-93D5o-i96zQp-XZriWy-azzoHP-cbhQd-8o782p-KVTYEv-9nJ66Q-4Jq5C5-6d3v9o-5GF3KV-bnXnxC-rYZ4E-647Y87-atwPcF-afbhtg-atwPST-atwN3D-cbhSH-934Acy-4PPHiR-atztwo-6m72YC-pNPti8-6m2MTH-sNb6n-7hAFy-D4wY5i-6JGi4H-6m71uw-afe5i7-7WUFFz-atwNTR-4CrMzF-2EdyiW-atwNnH-onTgPS-e53tdv-6m2mFv-6m6tX3-ejNKo5-9LmR7K-99kHjG-sNaXu-ejH2W4-5ND3CJ-8A9Kvu</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/alper/</string>
		<key>flickrAuthor</key>
		<string>Alper Çuğun</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>kimchi stew</string>
		<key>imageName</key>
		<string>kimchi_stew3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/spikenheimer/3317092796/in/photolist-647Y87-atwPcF-afbhtg-atwPST-atwN3D-cbhSH-934Acy-4PPHiR-atztwo-6m72YC-pNPti8-6m2MTH-sNb6n-7hAFy-D4wY5i-6JGi4H-6m71uw-afe5i7-7WUFFz-atwNTR-4CrMzF-2EdyiW-atwNnH-onTgPS-e53tdv-6m2mFv-6m6tX3-ejNKo5-9LmR7K-99kHjG-sNaXu-ejH2W4-5ND3CJ-8A9Kvu-atzuYq-5Hf8pn-7i89Ug-8msM-ghUqw-8WLLY6-e3QGZ8-XfULr-5HxgNY-7i8i7e-7s48of-atzukf-8WPPnu-zQvexF-7i8fWP-7i8gEM</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/spikenheimer/</string>
		<key>flickrAuthor</key>
		<string>spikenheimer</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>tteok bokki</string>
		<key>imageName</key>
		<string>tteok_bokki1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/survivetravel/34748619013/in/photolist-5NRLL-UWBKNV-QpQinF-R56gKw</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/survivetravel/</string>
		<key>flickrAuthor</key>
		<string>Bertahan Luxing</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>tteok bokki</string>
		<key>imageName</key>
		<string>tteok_bokki2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/avlxyz/31774828093/in/photolist-5NRLL-UWBKNV-QpQinF-R56gKw</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/avlxyz/</string>
		<key>flickrAuthor</key>
		<string>Alpha</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>tteok bokki</string>
		<key>imageName</key>
		<string>tteok_bokki3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/avlxyz/32207776160/in/photolist-5NRLL-UWBKNV-QpQinF-R56gKw</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/avlxyz/</string>
		<key>flickrAuthor</key>
		<string>Alpha</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>tteok bokki</string>
		<key>imageName</key>
		<string>tteok_bokki4</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/blese/54408568/in/photolist-5NRLL-UWBKNV-QpQinF-R56gKw</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/blese/</string>
		<key>flickrAuthor</key>
		<string>blese</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>tteok bokki</string>
		<key>imageName</key>
		<string>tteok_bokki5</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/armaio/2455729709/in/photolist-4K1fTp-gQNJP-7CAjNv-dcSqdq-ATTEG-95i7Sa-58Ncgg-gZXeuC-FSdhSu-ZnZko-61nVKB-avLxha-3zq4L-83QLrD-5aQ7ED-NEDxS-3thag5-66URkF-u1pVr-5LkZvv-E3W1Nz-ehc8q6-9SH28y-8ZRjVb-cMp9m1-b9hGNv-4hkVoK-3zq4F-51Taee-3yB2r-2RXr5a-h9if9Y-fdeBCz-CiZiyS-4FjA4h-osKXka-dAigKS-79hHtN-hbYvu6-2RXqox-bjcZnK-34GUHP-x3HEa-6GZgDu-oZNSrk-NZMrJ-B9NB4R-9UgEez-4457yi-8ZmcPX</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/armaio/</string>
		<key>flickrAuthor</key>
		<string>Mao Mao Hsiao</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>tteok bokki</string>
		<key>imageName</key>
		<string>tteok_bokki6</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/yenchiu/5299460125/in/photolist-95i7Sa-58Ncgg-gZXeuC-FSdhSu-ZnZko-61nVKB-avLxha-3zq4L-83QLrD-5aQ7ED-NEDxS-3thag5-66URkF-u1pVr-5LkZvv-E3W1Nz-ehc8q6-9SH28y-8ZRjVb-cMp9m1-b9hGNv-4hkVoK-3zq4F-51Taee-3yB2r-2RXr5a-h9if9Y-fdeBCz-CiZiyS-4FjA4h-osKXka-dAigKS-79hHtN-hbYvu6-2RXqox-bjcZnK-34GUHP-x3HEa-6GZgDu-oZNSrk-NZMrJ-B9NB4R-9UgEez-4457yi-8ZmcPX-8ZpgL7-6GVzqV-iTRzTC-6GVk8B-dKrPCW</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/yenchiu/</string>
		<key>flickrAuthor</key>
		<string>~妍~</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>tteok bokki</string>
		<key>imageName</key>
		<string>tteok_bokki7</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/tszyan/4761432487/in/photolist-8fKzZz-TfF58a-r5zks-4K1fTp-gQNJP-7CAjNv-dcSqdq-ATTEG-95i7Sa-58Ncgg-gZXeuC-FSdhSu-ZnZko-61nVKB-avLxha-3zq4L-83QLrD-5aQ7ED-NEDxS-3thag5-66URkF-u1pVr-5LkZvv-E3W1Nz-ehc8q6-9SH28y-8ZRjVb-cMp9m1-b9hGNv-4hkVoK-3zq4F-51Taee-3yB2r-2RXr5a-h9if9Y-fdeBCz-CiZiyS-4FjA4h-osKXka-dAigKS-79hHtN-hbYvu6-2RXqox-bjcZnK-34GUHP-x3HEa-6GZgDu-oZNSrk-NZMrJ-B9NB4R</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/tszyan/</string>
		<key>flickrAuthor</key>
		<string>Shippou 七寶</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gimbap</string>
		<key>imageName</key>
		<string>gimbap1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/hamburger_helper/11754251595/in/photolist-iUFBug-9UtSkF-TRdaDA-8ucXtC-jMUGbM-8uf4xd-9YDEVn-a1YyTH-jNcVpM-xe2bg-5kxavF-f5DZBG-nxW3HE-jNcVhx-9UtS9r-f5DYfw-f5pKVV-6niZA-f5pKta-f5pLg2-s6PjQ-yfsngC-xYKQvA-8izj2N-F4LoYb-7ycL6Z-n9YKYP-6m2d48-6tT19T-6xtMWd-6xtMAE-r4jjU-ejTiHK-n9Z8wg-na1Sfm-9FuubF-n9Z8WV-CTYYFp-oUNEH8-5keTyh-n9YMNa-n9YNgK-oSbnjq-n9Z9dg-6m6y3C-niudoG-f5E73m-dpxMYu-6m2aw4-6m2MTH</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/hamburger_helper/</string>
		<key>flickrAuthor</key>
		<string>Hamburger Helper</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gimbap</string>
		<key>imageName</key>
		<string>gimbap2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/petitshoo/2846520965/in/photolist-5kxavF-f5DZBG-nxW3HE-jNcVhx-9UtS9r-f5DYfw-f5pKVV-6niZA-f5pKta-f5pLg2-s6PjQ-yfsngC-xYKQvA-8izj2N-F4LoYb-7ycL6Z-n9YKYP-6m2d48-6tT19T-6xtMWd-6xtMAE-r4jjU-ejTiHK-n9Z8wg-na1Sfm-9FuubF-n9Z8WV-CTYYFp-oUNEH8-5keTyh-n9YMNa-n9YNgK-oSbnjq-n9Z9dg-6m6y3C-niudoG-f5E73m-dpxMYu-6m2aw4-6m2MTH-6m332H-6m6gC9-6m71uw-6m2qND-6m2Vec-na1Sis-na1SuE-6m2oc2-9kyd78-jrEyX</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/petitshoo/</string>
		<key>flickrAuthor</key>
		<string>Jennifer Pack</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gimbap</string>
		<key>imageName</key>
		<string>gimbap3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/xiaolongimnida/9241673698/in/photolist-f5DZBG-nxW3HE-jNcVhx-9UtS9r-f5DYfw-f5pKVV-6niZA-f5pKta-f5pLg2-s6PjQ-yfsngC-xYKQvA-8izj2N-6xtMWd-6xtMAE-r4jjU-ejTiHK-7ycL6Z-n9Z8wg-na1Sfm-9FuubF-n9Z8WV-CTYYFp-oUNEH8-5keTyh-n9YMNa-n9YNgK-oSbnjq-n9Z9dg-6m6y3C-niudoG-f5E73m-dpxMYu-6m2d48-6m2aw4-6tT19T-F4LoYb-n9YKYP-6m2Vec-na1Sis-na1SuE-6m2oc2-9kyd78-jrEyX-5Dbpw8-n9Z73K-6m2M3M-6m32tg-6m72YC-na1R67</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/xiaolongimnida/</string>
		<key>flickrAuthor</key>
		<string>Xiaolongimnida Blog</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gimbap</string>
		<key>imageName</key>
		<string>gimbap4</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/xiaolongimnida/9238894539/in/photolist-f5pKta-f5pLg2-s6PjQ-yfsngC-xYKQvA-8izj2N-6xtMWd-6xtMAE-r4jjU-ejTiHK-7ycL6Z-n9Z8wg-na1Sfm-9FuubF-n9Z8WV-CTYYFp-oUNEH8-5keTyh-n9YMNa-n9YNgK-oSbnjq-n9Z9dg-6m6y3C-niudoG-f5E73m-dpxMYu-6m2d48-6m2aw4-6tT19T-F4LoYb-n9YKYP-6m2Vec-na1Sis-na1SuE-6m2oc2-9kyd78-jrEyX-5Dbpw8-n9Z73K-6m2M3M-6m32tg-6m72YC-na1R67-6m2MTH-n9YPsT-6m73vL-6m332H-6m6gC9-9WfEmw-6m2J5R</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/xiaolongimnida/</string>
		<key>flickrAuthor</key>
		<string>Xiaolongimnida Blog</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gimbap</string>
		<key>imageName</key>
		<string>gimbap5</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/koreanet/13885170783/in/photolist-n9Z8wg-na1Sfm-9FuubF-n9Z8WV-CTYYFp-oUNEH8-5keTyh-n9YMNa-n9YNgK-oSbnjq-n9Z9dg-6m6y3C-niudoG-f5E73m-dpxMYu-6m2d48-6m2aw4-6tT19T-F4LoYb-n9YKYP-6m2Vec-na1Sis-na1SuE-6m2oc2-9kyd78-jrEyX-5Dbpw8-n9Z73K-6m2M3M-6m32tg-6m72YC-na1R67-6m2MTH-n9YPsT-6m73vL-6m332H-6m6gC9-9WfEmw-6m2J5R-6m31Q2-6m2Ucx-6m2BCX-6m2stH-6m6wDN-oRkKds-n9YLfk-6m71uw-n9YPmk-6m2Gux-6m2Xsv</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/koreanet/</string>
		<key>flickrAuthor</key>
		<string>Republic of Korea</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>korean barbecue</string>
		<key>imageName</key>
		<string>korean_barbecue1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/iombie/8312204359/in/photolist-dEwdLg-9jLLc3-316uQM-ejQg1B-b3TXyZ-9sAds4-6z8tqQ-gtSgNX-4yKPeG-dp4r7a-dEBRpz-h57mne-oZ7nQj-5Z3Fge-dhbnh-ppo7dT-coG9Du-9yKGg7-5iPtMe-aVS8jn-e18c2v-oeAG7f-crm8E9-sTUTB-byubyk-3bQRov-aBYtDm-9eoHY8-ihmRBs-9sa8U-5QZcsS-aTcwiH-aBkeWE-dM9LTP-qMqYRd-cjeVFC-874kLF-4Gd4Yk-7DfnYw-tPVwA-9y553G-4Fpdgx-f5M2RF-5BAda6-9uWBfd-aVDaCp-b9tix8-a6mWQw-QtckZ6-ohGCm2</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/iombie/</string>
		<key>flickrAuthor</key>
		<string>iombie</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>korean barbecue</string>
		<key>imageName</key>
		<string>korean_barbecue2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/saucesupreme/5463284656/in/photolist-9jLLc3-316uQM-ejQg1B-b3TXyZ-9sAds4-6z8tqQ-gtSgNX-4yKPeG-dp4r7a-dEBRpz-h57mne-oZ7nQj-5Z3Fge-dhbnh-ppo7dT-coG9Du-9yKGg7-5iPtMe-aVS8jn-e18c2v-oeAG7f-crm8E9-sTUTB-byubyk-3bQRov-aBYtDm-9eoHY8-ihmRBs-9sa8U-5QZcsS-aTcwiH-aBkeWE-dM9LTP-qMqYRd-cjeVFC-874kLF-4Gd4Yk-7DfnYw-tPVwA-9y553G-4Fpdgx-f5M2RF-5BAda6-9uWBfd-aVDaCp-b9tix8-a6mWQw-QtckZ6-ohGCm2-so7VAw</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/saucesupreme/</string>
		<key>flickrAuthor</key>
		<string>Ron Dollete</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>korean barbecue</string>
		<key>imageName</key>
		<string>korean_barbecue3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/cchen/138954618/in/photolist-dhbnh-ppo7dT-coG9Du-9yKGg7-5iPtMe-aVS8jn-e18c2v-oeAG7f-crm8E9-sTUTB-byubyk-3bQRov-aBYtDm-9eoHY8-ihmRBs-9sa8U-5QZcsS-aTcwiH-aBkeWE-dM9LTP-qMqYRd-cjeVFC-874kLF-4Gd4Yk-7DfnYw-tPVwA-9y553G-4Fpdgx-f5M2RF-5BAda6-9uWBfd-aVDaCp-b9tix8-a6mWQw-QtckZ6-ohGCm2-so7VAw-5yRDGn-bR8DsT-awzBty-7KyS3F-dx4FNy-69R7vJ-5zaQE4-72nhFm-baQC9F-awzByh-avUhzu-c3TgKC-iX1JKQ</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/cchen/</string>
		<key>flickrAuthor</key>
		<string>Chris Chen 陳依勤</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>korean barbecue</string>
		<key>imageName</key>
		<string>korean_barbecue4</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/elpadawan/2827071219/in/photolist-5iPtMe-aVS8jn-e18c2v-oeAG7f-crm8E9-sTUTB-byubyk-3bQRov-aBYtDm-9eoHY8-ihmRBs-9sa8U-5QZcsS-aTcwiH-aBkeWE-dM9LTP-qMqYRd-cjeVFC-874kLF-4Gd4Yk-7DfnYw-tPVwA-9y553G-4Fpdgx-f5M2RF-5BAda6-9uWBfd-aVDaCp-b9tix8-a6mWQw-QtckZ6-ohGCm2-so7VAw-5yRDGn-bR8DsT-awzBty-7KyS3F-dx4FNy-69R7vJ-5zaQE4-72nhFm-baQC9F-awzByh-avUhzu-c3TgKC-iX1JKQ-9cLzFt-8GaoBq-2Lz5V5-GwEzeF</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/elpadawan/</string>
		<key>flickrAuthor</key>
		<string>elPadawan</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>korean barbecue</string>
		<key>imageName</key>
		<string>korean_barbecue5</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/ron2/14628839577/in/photolist-ohGCm2-so7VAw-5yRDGn-bR8DsT-awzBty-7KyS3F-dx4FNy-69R7vJ-5zaQE4-72nhFm-baQC9F-awzByh-avUhzu-c3TgKC-iX1JKQ-9cLzFt-8GaoBq-2Lz5V5-GwEzeF-f62io7-bth55y-21F2Dhh-pynoEs-3iAHX-fXJaCX-7SNFY1-5T9Yd4-ihmHqE-aq2Nwc-p296D-DMq9f4-dNc1mN-awkmZY-5yVVto-iBax6j-5yRAY6-6KHmub-7MFqWU-86F2d3-9cDbKT-8sG94W-dM9LU6-YrrxRi-JV1mzL-hzLMT2-otKkrh-5vcB1y-5vcAJm-RiTgNH-9hZr26</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/ron2/</string>
		<key>flickrAuthor</key>
		<string>Ron Ryan Aviles</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>dotorimuk</string>
		<key>imageName</key>
		<string>dotorimuk1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/karagon3783/2482562807/in/photolist-9RqoiS-7KEh7X-4MnMr2-ar3khU-5cBM1Y-ecASye-6vst52-6vUfnf</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/karagon3783/</string>
		<key>flickrAuthor</key>
		<string>가라곤</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>dotorimuk</string>
		<key>imageName</key>
		<string>dotorimuk2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/amgreen/3620156376/in/photolist-9RqoiS-7KEh7X-4MnMr2-ar3khU-5cBM1Y-ecASye-6vst52-6vUfnf</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/amgreen/</string>
		<key>flickrAuthor</key>
		<string>Andrew Green</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>dotorimuk</string>
		<key>imageName</key>
		<string>dotorimuk3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/saucesupreme/4432218419/in/photolist-9RqoiS-7KEh7X-4MnMr2-ar3khU-5cBM1Y-ecASye-6vst52-6vUfnf</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/saucesupreme/</string>
		<key>flickrAuthor</key>
		<string>Ron Dollete</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>dotorimuk</string>
		<key>imageName</key>
		<string>dotorimuk4</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/krcla/5810120180/in/photolist-9RqoiS-7KEh7X-4MnMr2-ar3khU-5cBM1Y-ecASye-6vst52-6vUfnf</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/krcla/</string>
		<key>flickrAuthor</key>
		<string>Korean Resource Center</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>dotorimuk</string>
		<key>imageName</key>
		<string>dotorimuk5</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/jlfacine/2756888884/in/photolist-9RqoiS-7KEh7X-4MnMr2-ar3khU-5cBM1Y-ecASye-6vst52-6vUfnf</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/jlfacine/</string>
		<key>flickrAuthor</key>
		<string>Julie Facine</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>japchae</string>
		<key>imageName</key>
		<string>japchae1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/churl/255251068/in/photolist-oyefu-49j722-bqjkee-72KUTE-fpgVDz-hEg7E-78asfL-kpjZQY-5Yp7Wq-qdH7tN-9VUsjT-ea8rNi-bTsdLt-kcTgyt-8d1Co3-7HRHP5-a2yyXM-b7rkHa-9GYg1M-GJ67k-8UfASM-9pwc1X-89ibUx-7ycL6Z-9K1eYh-6m6y3C-6m2d48-6m2Vec-3o3UcS-bsRsBk-aYS25n-96sc7p-4yPqKb-9yPC3r-kf2z5n-dpkroX-c96eyG-4KSk9F-ssH3xh-7tZjws-e1o7VL-dLJ6zG-fwJSaJ-RtKLdQ-7mfi4g-6m2aw4-6m2oc2-75wpAG-7L575c-n9Z73K</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/churl/</string>
		<key>flickrAuthor</key>
		<string>churl</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>japchae</string>
		<key>imageName</key>
		<string>japchae2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/churl/2063134531/in/photolist-49j722-bqjkee-72KUTE-fpgVDz-hEg7E-78asfL-kpjZQY-5Yp7Wq-qdH7tN-9VUsjT-ea8rNi-bTsdLt-kcTgyt-8d1Co3-7HRHP5-a2yyXM-b7rkHa-9GYg1M-GJ67k-8UfASM-9pwc1X-89ibUx-7ycL6Z-9K1eYh-6m6y3C-6m2d48-6m2Vec-3o3UcS-bsRsBk-aYS25n-96sc7p-4yPqKb-9yPC3r-kf2z5n-dpkroX-c96eyG-4KSk9F-ssH3xh-7tZjws-e1o7VL-dLJ6zG-fwJSaJ-RtKLdQ-7mfi4g-6m2aw4-6m2oc2-75wpAG-7L575c-n9Z73K-6m2M3M</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/churl/</string>
		<key>flickrAuthor</key>
		<string>churl</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>japchae</string>
		<key>imageName</key>
		<string>japchae3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/moonlightbulb/6838740283/in/photolist-bqjkee-72KUTE-fpgVDz-hEg7E-78asfL-kpjZQY-5Yp7Wq-qdH7tN-9VUsjT-ea8rNi-bTsdLt-kcTgyt-8d1Co3-7HRHP5-a2yyXM-b7rkHa-9GYg1M-GJ67k-8UfASM-9pwc1X-89ibUx-7ycL6Z-9K1eYh-6m6y3C-6m2d48-6m2Vec-3o3UcS-bsRsBk-aYS25n-96sc7p-4yPqKb-9yPC3r-kf2z5n-dpkroX-c96eyG-4KSk9F-ssH3xh-7tZjws-e1o7VL-dLJ6zG-fwJSaJ-RtKLdQ-7mfi4g-6m2aw4-6m2oc2-75wpAG-7L575c-n9Z73K-6m2M3M-6m32tg</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/moonlightbulb/</string>
		<key>flickrAuthor</key>
		<string>Selena N. B. H.</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>japchae</string>
		<key>imageName</key>
		<string>japchae4</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/26326001@N08/3958024844/in/photolist-72KUTE-fpgVDz-hEg7E-78asfL-kpjZQY-5Yp7Wq-qdH7tN-9VUsjT-ea8rNi-bTsdLt-kcTgyt-8d1Co3-7HRHP5-a2yyXM-b7rkHa-9GYg1M-GJ67k-8UfASM-9pwc1X-89ibUx-7ycL6Z-9K1eYh-6m6y3C-6m2d48-6m2Vec-3o3UcS-bsRsBk-aYS25n-96sc7p-4yPqKb-9yPC3r-kf2z5n-dpkroX-c96eyG-4KSk9F-ssH3xh-7tZjws-e1o7VL-dLJ6zG-fwJSaJ-RtKLdQ-7mfi4g-6m2aw4-6m2oc2-75wpAG-7L575c-n9Z73K-6m2M3M-6m32tg-7Dz3LB</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/26326001@N08/</string>
		<key>flickrAuthor</key>
		<string>flippinyank</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>japchae</string>
		<key>imageName</key>
		<string>japchae5</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/60173925@N06/15896381772/in/photolist-qdH7tN-9VUsjT-ea8rNi-bTsdLt-kcTgyt-8d1Co3-7HRHP5-a2yyXM-b7rkHa-9GYg1M-GJ67k-8UfASM-9pwc1X-89ibUx-7ycL6Z-9K1eYh-6m6y3C-6m2d48-6m2Vec-3o3UcS-bsRsBk-aYS25n-96sc7p-4yPqKb-9yPC3r-kf2z5n-dpkroX-c96eyG-4KSk9F-ssH3xh-7tZjws-e1o7VL-dLJ6zG-fwJSaJ-RtKLdQ-7mfi4g-6m2aw4-6m2oc2-75wpAG-7L575c-n9Z73K-6m2M3M-6m32tg-7Dz3LB-6m72YC-aSaCy2-6m2MTH-6m73vL-6m332H-6m2J5R</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/26326001@N08/</string>
		<key>flickrAuthor</key>
		<string>Chris Pople</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>japchae</string>
		<key>imageName</key>
		<string>japchae6</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/anasararojas/7145824835/in/photolist-bTsdLt-kcTgyt-8d1Co3-7HRHP5-a2yyXM-b7rkHa-9GYg1M-GJ67k-8UfASM-9pwc1X-89ibUx-7ycL6Z-9K1eYh-6m6y3C-6m2d48-6m2Vec-3o3UcS-bsRsBk-aYS25n-96sc7p-4yPqKb-9yPC3r-kf2z5n-dpkroX-c96eyG-4KSk9F-ssH3xh-7tZjws-e1o7VL-dLJ6zG-fwJSaJ-RtKLdQ-7mfi4g-6m2aw4-6m2oc2-75wpAG-7L575c-n9Z73K-6m2M3M-6m32tg-7Dz3LB-6m72YC-aSaCy2-6m2MTH-6m73vL-6m332H-6m2J5R-6m31Q2-6m2Ucx-6m2BCX</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/anasararojas/</string>
		<key>flickrAuthor</key>
		<string>anasararojas</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>naengmyeon</string>
		<key>imageName</key>
		<string>naengmyeon1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/sanmitrakale/24211350452/in/photolist-CTtuYL-rYZ6t-34nRLj-6m2Vec-6m2oc2-5Wxejv-6m2M3M-6m32tg-SQwm69-6m72YC-6m2MTH-6m73vL-6m332H-6m6gC9-6m2J5R-6m31Q2-6m2Ucx-6m2BCX-6m2stH-6m6wDN-6m71uw-6m6rV9-7oCx7V-eghA6T-ectR5e-SQwmQq-4Kr3kt-oubQUZ-6m2Gux-6m2Xsv-6m2XZg-6m2qND-6m6FN9-6m6qDo-6m6pYL-6m6Eny-6m6F7b-6m7eds-6m6DFs-6m2VM8-6m2NpB-6m6YtE-6m2f1M-6m7ad1-6m2AQ2-6m6P91-6m2Yyc-6m6tX3-6m2mFv-57DQZt</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/sanmitrakale/</string>
		<key>flickrAuthor</key>
		<string>solarisgirl</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>naengmyeon</string>
		<key>imageName</key>
		<string>naengmyeon2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/shinyai/1350927782/in/photolist-34nRLj-6m2Vec-6m2oc2-5Wxejv-6m2M3M-6m32tg-SQwm69-6m72YC-6m2MTH-6m73vL-6m332H-6m6gC9-6m2J5R-6m31Q2-6m2Ucx-6m2BCX-6m2stH-6m6wDN-6m71uw-6m6rV9-7oCx7V-eghA6T-ectR5e-SQwmQq-4Kr3kt-oubQUZ-6m2Gux-6m2Xsv-6m2XZg-6m2qND-6m6FN9-6m6qDo-6m6pYL-6m6Eny-6m6F7b-6m7eds-6m6DFs-6m2VM8-6m2NpB-6m6YtE-6m2f1M-6m7ad1-6m2AQ2-6m6P91-6m2Yyc-6m6tX3-6m2mFv-57DQZt-5WBuQh-oLDNuG</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/shinyai/</string>
		<key>flickrAuthor</key>
		<string>Shinya ICHINOHE</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>naengmyeon</string>
		<key>imageName</key>
		<string>naengmyeon3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/koreanet/4594769120/in/photolist-812oMf-SQwnb5-7ZYb6R-oALKme-prHRUP-812oTL-5oP4H-6DM5Dm-CTtuYL-rYZ6t-34nRLj-6m2Vec-6m2oc2-5Wxejv-6m2M3M-6m32tg-SQwm69-6m72YC-6m2MTH-6m73vL-6m332H-6m6gC9-6m2J5R-6m31Q2-6m2Ucx-6m2BCX-6m2stH-6m6wDN-6m71uw-6m6rV9-7oCx7V-eghA6T-ectR5e-SQwmQq-4Kr3kt-oubQUZ-6m2Gux-6m2Xsv-6m2XZg-6m2qND-6m6FN9-6m6qDo-6m6pYL-6m6Eny-6m6F7b-6m7eds-6m6DFs-6m2VM8-6m2NpB-6m6YtE</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/koreanet/</string>
		<key>flickrAuthor</key>
		<string>Republic of Korea</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>naengmyeon</string>
		<key>imageName</key>
		<string>naengmyeon4</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/koreanet/4594756202/in/photolist-812jWw-812oMf-SQwnb5-7ZYb6R-oALKme-prHRUP-812oTL-5oP4H-6DM5Dm-CTtuYL-rYZ6t-34nRLj-6m2Vec-6m2oc2-5Wxejv-6m2M3M-6m32tg-SQwm69-6m72YC-6m2MTH-6m73vL-6m332H-6m6gC9-6m2J5R-6m31Q2-6m2Ucx-6m2BCX-6m2stH-6m6wDN-6m71uw-6m6rV9-7oCx7V-eghA6T-ectR5e-SQwmQq-4Kr3kt-oubQUZ-6m2Gux-6m2Xsv-6m2XZg-6m2qND-6m6FN9-6m6qDo-6m6pYL-6m6Eny-6m6F7b-6m7eds-6m6DFs-6m2VM8-6m2NpB</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/koreanet/</string>
		<key>flickrAuthor</key>
		<string>Republic of Korea</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>jjambbong</string>
		<key>imageName</key>
		<string>jjambbong1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/bionicgrrl/4720844539/in/photolist-ciY2QG-8cayBn-ciY34G-aEJmSE-6i5B7n</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/bionicgrrl/</string>
		<key>flickrAuthor</key>
		<string>bionicgrrrl</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>jjambbong</string>
		<key>imageName</key>
		<string>jjambbong2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/bionicgrrl/6345502682/in/photolist-ciY2QG-8cayBn-ciY34G-aEJmSE-6i5B7n</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/bionicgrrl/</string>
		<key>flickrAuthor</key>
		<string>bionicgrrrl</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>jjambbong</string>
		<key>imageName</key>
		<string>jjambbong3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/avlxyz/3475062829/in/photolist-ciY2QG-8cayBn-ciY34G-aEJmSE-6i5B7n</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/avlxyz/</string>
		<key>flickrAuthor</key>
		<string>Alpha</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gamjatang</string>
		<key>imageName</key>
		<string>gamjatang1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/koreanet/5029033968/in/photolist-CTmKe-8K7fV-shrxC-KeXwx1-9HXxjB-8Ep7zC-8Ep7Ad-a7NXL4-a7NScH-a7NWrK-pxsVhy-a7RzWj-Fe3ZWo-a7RMD7-a7NFbg-a7P256-a7RSVm-a7RBo3-adi7xQ-a7RtfY-adfjuX-a7RFZj-a7NPZi-a7NM2P-a7RvDL-Fe3XT5-a7NKvT-a7NBer-adfkND-adfeAe-a7Nz6K-F7X9nz-a7NDoX-b14FYa-adi5eL-adfcae-FTgQ7K-adfhec-FZ8vpD-H2x7ta-GYzVUh-KB9NMx-H2x7w6-H2x51z-JJybqw-JJCoFK-JJCo7t-JJCrbV-DNsZ9G-adi2w3</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/koreanet/</string>
		<key>flickrAuthor</key>
		<string>Republic of Korea</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gamjatang</string>
		<key>imageName</key>
		<string>gamjatang2</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-sa/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-SA 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/koreanet/5029033934/in/photolist-CTmKe-8K7fV-shrxC-KeXwx1-9HXxjB-8Ep7zC-8Ep7Ad-a7NXL4-a7NScH-a7NWrK-pxsVhy-a7RzWj-Fe3ZWo-a7RMD7-a7NFbg-a7P256-a7RSVm-a7RBo3-adi7xQ-a7RtfY-adfjuX-a7RFZj-a7NPZi-a7NM2P-a7RvDL-Fe3XT5-a7NKvT-a7NBer-adfkND-adfeAe-a7Nz6K-F7X9nz-a7NDoX-b14FYa-adi5eL-adfcae-FTgQ7K-adfhec-FZ8vpD-H2x7ta-GYzVUh-KB9NMx-H2x7w6-H2x51z-JJybqw-JJCoFK-JJCo7t-JJCrbV-DNsZ9G-adi2w3</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/koreanet/</string>
		<key>flickrAuthor</key>
		<string>Republic of Korea</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>gamjatang</string>
		<key>imageName</key>
		<string>gamjatang3</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc-nd/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC-ND 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/jfrater/5725667003/in/photolist-CTmKe-8K7fV-shrxC-KeXwx1-9HXxjB-8Ep7zC-8Ep7Ad-a7NXL4-a7NScH-a7NWrK-pxsVhy-a7RzWj-Fe3ZWo-a7RMD7-a7NFbg-a7P256-a7RSVm-a7RBo3-adi7xQ-a7RtfY-adfjuX-a7RFZj-a7NPZi-a7NM2P-a7RvDL-Fe3XT5-a7NKvT-a7NBer-adfkND-adfeAe-a7Nz6K-F7X9nz-a7NDoX-b14FYa-adi5eL-adfcae-FTgQ7K-adfhec-FZ8vpD-H2x7ta-GYzVUh-KB9NMx-H2x7w6-H2x51z-JJybqw-JJCoFK-JJCo7t-JJCrbV-DNsZ9G-adi2w3</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/jfrater/</string>
		<key>flickrAuthor</key>
		<string>jamiefrater</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>doenjang</string>
		<key>imageName</key>
		<string>doenjang1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/ebarney/5502492455/in/photolist-9oeHiz-9DSzcC-9uLVuA-9oeGxH-a2YATd-9ohCtu-9F6JKq-9ohzz5-652Nav-9F6JC9-6i5BeD-9YRBwQ-nQKthQ-dmoFmA-9jvKYz-5cjyzG-rFZYj5-EkzxaB-eU7tCq-9F6JoG-DJLEaK-6i5B7n-9F6K6E-f88dvR-6m2BCX-6m2Xsv-6m2XZg-6m6FN9-6m6Eny-6m6F7b-6m6DFs-6m7ad1-6m2AQ2-6m2Yyc-9ohD3C-6m2A3g-p7Ptfb-5kxJHE-6JGi4H-LpjLz6-9F6JV7-4EJ1sz-CXQ4A-6qvjQp-jsRzpv-9fgNLJ-oPQpD5-9Zcc7Y-6cGZ5f-9ohJZb</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/ebarney/</string>
		<key>flickrAuthor</key>
		<string>Emily</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
	<dict>
		<key>imageExtension</key>
		<string>jpg</string>
		<key>searchTerm</key>
		<string>doenjang</string>
		<key>imageName</key>
		<string>doenjang1</string>
		<key>licenseURL</key>
		<string>https://creativecommons.org/licenses/by-nc/2.0/</string>
		<key>licenseInfo</key>
		<string>CC BY-NC 2.0</string>
		<key>flickrURL</key>
		<string>https://www.flickr.com/photos/ebarney/5502492455/in/photolist-9oeHiz-9DSzcC-9uLVuA-9oeGxH-a2YATd-9ohCtu-9F6JKq-9ohzz5-652Nav-9F6JC9-6i5BeD-9YRBwQ-nQKthQ-dmoFmA-9jvKYz-5cjyzG-rFZYj5-EkzxaB-eU7tCq-9F6JoG-DJLEaK-6i5B7n-9F6K6E-f88dvR-6m2BCX-6m2Xsv-6m2XZg-6m6FN9-6m6Eny-6m6F7b-6m6DFs-6m7ad1-6m2AQ2-6m2Yyc-9ohD3C-6m2A3g-p7Ptfb-5kxJHE-6JGi4H-LpjLz6-9F6JV7-4EJ1sz-CXQ4A-6qvjQp-jsRzpv-9fgNLJ-oPQpD5-9Zcc7Y-6cGZ5f-9ohJZb</string>
		<key>flickrAuthorURL</key>
		<string>https://www.flickr.com/photos/ebarney/</string>
		<key>flickrAuthor</key>
		<string>Emily</string>
		<key>copyrightNotice</key>
		<string></string>
		<key>disclaimerNotice</key>
		<string></string>
	</dict>
</array>
</plist>
